@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 30, 0.7592592592592593) 15%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: repeat;
  overflow-x: hidden; /* Corrected value */
}

@layer base {
  :root {
    --color-grassType: 5 255 150;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 2em;
  }
}
